body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
    font-family: 'Nunito', sans-serif;
	color: #474747;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}

/*max width*/

  .max-width{
    max-width: 100%;
    padding: 0 40px;
    margin: auto;
}

/* navbar*/

.navbar .logo a{
	color: #fff;
	font-size: 1.5em;
	border: white solid 2px;
	border-radius: 7px;
	padding: 5px;
	font-family: 'Nunito', sans-serif;
    transition: all 0.3s ease;
  }
.navbar{
    ffposition: fixed;
    background-color:#222222;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
	font-family: 'Nunito', sans-serif;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: red;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: white;
    font-size: 35px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

/*media query start*/

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
		z-index: 999;
		font-size: 35px;
		
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
		font-size: 35px;
		
    }     
}
@media (max-width: 767px){
	.navbar{ 
	  justify-content: center;
	  padding: 0px;
	}
	}
@media (max-width: 690px) {
    .max-width{
        padding:  10px 50px;
    }
 
}
@media (max-width: 500px) {
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 25px;
        line-height: 38px;
    }
}

	
/*Intro*/

.introducao{
	max-width: 960px;
	margin: 0 auto;
	align-items: center;
	
}
.introducao{
	max-width: 100%;
	background: url(../img/header.png) no-repeat center center;
    background-size: cover;
	text-align: center;
}
.introducao h1{
	max-width: 960px;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
	font-size: 4em;
	color: black;
	padding: 300px 10px;
	font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 430px){
	.introducao h1{
		margin: 0 auto;
		padding: 180px 10px;
		font-size: 2.4em;
		line-height: 1.2em;
		text-align: center;
		align-items: center;
	}
}

.sobre{
	max-width: 960px;
    margin: 0 auto;
}
.sobre h1{
	color: black;
    font-size: 2em;
	text-align: center;
	margin: 100px 10px 20px;
	text-transform: uppercase;
}
.sobre h1::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
	background: red;
}
@media (max-width: 500px){
	.sobre h1{
		margin: 30px 10px;
	}
}
.sobre p{
	color: black;
	font-size: 1.25em;
	align-items: center;
	line-height: 1.5;
	margin: 0 10px 100px;	
}

@media (max-width: 500px){
	.sobre p{
		margin: 10px;
	}
}

/*Serviços*/

.servicos-titulo{
    font-size: 2em;
	text-align: center;
	padding:  10px;
	text-transform: uppercase;
	background: #222222;
	color: white;
}
.servicos-titulo::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
	background: red;
}
.servicos{
	max-width: 100%;
	padding: 20px 10px;
	display: flex;
	flex-wrap: wrap;
	background: #222222;
	color: white;
	
}
.servicos-item p{
	color: red;
}
.servicos-item{
	flex: 1 1 300px;
	margin: 10px 10px;
	border: solid 3px #ebebeb;
	border-radius: 20px;
	padding: 10px;
	
}
.servicos-item h2 {
	font-size: 2.25em;
	color: white;
	margin-bottom:20px;
}
.servicos-item h2::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
}
.servicos-item:nth-of-type(3n+1) h2::before {
	background: #ae81ff;
}
.servicos-item:nth-of-type(3n+2) h2::before {
	background: #f9265e;
}
.servicos-item:nth-of-type(3n+3) h2::before {
	background: #66d9eb;
}
.servicos-item p {
	font-size: 1.2em;
	line-height: 1.5;
	color: #ebebeb;
}
@media (max-width: 450px){
	.servicos{
		padding: 20px 0px;

	}
}

/*Nosso Trabalho*/

.galeria{
	max-width:100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.img{
	max-width: 500px;
	flex: 1 1 300px;
	margin: 10px;
	border: #222222 solid 3px;
}
.trabalhos{
    font-size: 2em;
	text-align: center;
	margin: 100px 10px 30px;
	text-transform: uppercase;
	color: black;
}
.trabalhos::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;
	background: red;
}
@media (max-width: 500px){
	.trabalhos{
		margin: 30px;
	}
}

.orcamento{
	max-width: 100%;
	margin: 0 auto;
	padding: 70px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-align: center;
	background: #222222;
	color: white;
}
.orcamento h1{
	font-size: 1.5em;;
}
@media (max-width: 400px){
	.orcamento{
		padding: 15px 5px;
	}
}
.sobre-img {
	width: 26px;
}
.info{
	margin-right: 15px;
}


.footer{
	max-width: 100%;
	margin: 0 auto;
	align-items: center;
	background-color: #222222;
}
.footer p{
	text-align: center;
	color: white;	
}


  


